/.idea
/.gitee
/codestyles/
/inspection/
/*.xml
.gitignore
wsl.distributions.xml
colors.scheme.xml
debugger.xml
editor.xml
filetypes.xml
laf.xml
web-types-npm-loader.xml
/sublime/sublime_text_build_4113_x64/Data/Cache/
/sublime/sublime_text_build_4113_x64/
python/common_third_party_libraries/pic.png
